doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Camisetas
    body
        h2 Listado de camisetas
        table 
            thead
                tr 
                    th id 
                    th talla 
                    th sexo 
                    th color 
                    th marca 
                    th stock 
                    th precio 
                    th activo
            tbdody
                each camiseta in camisetas
                    tr 
                        td=camiseta.id 
                        td=camiseta.talla 
                        td=camiseta.sexo 
                        td=camiseta.color 
                        td=camiseta.marca 
                        td=camiseta.stock 
                        td=camiseta.precio 
                        td=camiseta.activo
                        td 